/* heder colir #212121 */
/* под текст #757575 + тел. */
/* заголовок белый #FFFFFF */
/* Акцент кнопок #2196F3 */
/* фон #E5E5E5 */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --fokus-color: #2196f3;
  --button-color-white: #ffffff;
}
body {
  color: var(--primary-text-color);
  background-color: #ffffff;

  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;

  /* side nav */
}
.side-nav a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.side-nav .link:hover,
.side-nav .link:focus {
  color: var(--fokus-color);
}
.side-nav .link.current {
  color: var(--fokus-color);
}
.side-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-info {
  color: var(--title-text-color);
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.contact-info:hover {
  color: var(--fokus-color);
}
/* Hero title */

.hero{
  background-color: #2F303A;
}
.hero-title {
  color: var(--button-color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* doing */
.doing .title{
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  }
/* features */
.features-list .title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-paragraf {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section team */
.my-team{
  background-color: #F5F4FA;
}

.my-team .title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.my-team .name-team {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.my-team .subtext {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18x;
  text-align: center;
  letter-spacing: 0.03em;
}
/* button */
.button {
  color: var(--button-color-white);
  background-color: var(--fokus-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
}
/* tooters */
.footer {
  background-color: #2F303A;

}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
 
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-addres{
  color: var(--button-color-white);
 

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo{
  color: #2196F3;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}
.logocolor{
  color: var(--button-color-white);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}

/* portfolio.html */
.portfolio-works .title {
  color: var(--primary-text-color);
}
.portfolio-works .subtext {
  color: var(--title-text-color);
}
