/* heder colir #212121 */
/* под текст #757575 + тел. */
/* заголовок белый #FFFFFF */
/* Акцент кнопок #2196F3 */
/* фон #E5E5E5 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --fokus-color: #2196f3;
  --button-color-white: #ffffff;
}
body {
  color: var(--primary-text-color);
  background-color: #ffffff;

  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid tomato;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list{
  /* display: inline-block; */
  padding: 0;
  margin: 0;
}
.title{
  margin-top: 0;
  margin-bottom: 0;
}

/* button */
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--button-color-white);
  background-color: var(--fokus-color);
  border-color: 1px solid transparent;

  min-width: 136px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
}



  /* SIDE NAV */

.side-nav a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.side-nav .link:hover,
.side-nav .link:focus {
  color: var(--fokus-color);
}
.side-nav .link.current {
  color: var(--fokus-color);
}
.side-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-info {
  color: var(--title-text-color);
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.contact-info:hover,
.contact-info:focus {
  color: var(--fokus-color);
}
.contacts-list{
  padding: 0;
  margin: 0;
}

/* HERO */

.hero{

  text-align: center;
  background-color: #2F303A;

}
.hero-title {
  margin-top: 0;
  margin-bottom: 30;
  color: var(--button-color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}


/* DOING */
.doing .title{
  margin-bottom: 50px;
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  }
/* features */
.features-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-paragraf {
 margin-top: 0;
 margin-bottom: 0;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section TEAM */
.my-team{
  background-color: #F5F4FA;
}

.my-team .title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.my-team .name-team {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;
}
.my-team .subtext {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18x;
  /* text-align: center; */
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: #2F303A;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
 
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-addres{
  color: var(--button-color-white);
 

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo{
  color: #2196F3;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}
.logocolor{
  color: var(--button-color-white);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}

/* portfolio.html */
/* portfolio.html */


.portfolio-works .title {
  margin-top: 20px;
  margin-bottom: 0;
  
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-works .subtext {
  margin-top: 4px;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

/* side-nav */
.portfolio-nav .link:hover,
.portfolio-nav .link:focus{
  color: var(--button-color-white);
  background-color: var(--fokus-color);
}
.portfolio-nav{
  padding-top: 0;
  padding-bottom: 50px;
}

.portfolio-nav .link{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-works .title{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}



/* .side-nav a {
  color: var(--primary-text-color);
  text-decoration: none;
}



.side-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em; */