/* heder colir #212121 */
/* под текст #757575 + тел. */
/* заголовок белый #FFFFFF */
/* Акцент кнопок #2196F3 */
/* фон #E5E5E5 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --fokus-color: #2196f3;
  --button-color-white: #ffffff;
}
body {
  color: var(--primary-text-color);
  background-color: #ffffff;

  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */

}

.list{
  /* display: inline-block; */
  padding: 0;
  margin: 0;
}
.title{
  margin-top: 0;
  margin-bottom: 0;
}

/* button */
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--button-color-white);
  background-color: var(--fokus-color);
  border-color: 1px solid transparent;

  min-width: 136px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
/* HEADER */
.header .container {
  display: flex;
  align-items: center;
}

/* MAIN NAV */

 

/* SIDE NAV */
.logo-header-color {
  color: var(--primary-text-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;

  }

.header-nav{
  display: flex;
  align-items: center;
  }

.side-nav{
  display: flex;
  margin-left: 93px;
  }

.side-nav a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.side-nav .link:hover,
.side-nav .link:focus {
  color: var(--fokus-color);
}
.side-nav .link.current {
  color: var(--fokus-color);
}
/* .side-nav .item{
  margin-right: 50px;
}

.side-nav .item:last-child {
  margin-right: 0;
} */
.side-nav .item:not(:last-child){
  margin-right: 50px; 
  
}

.side-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
 
}


.contact-info {

  color: var(--title-text-color);
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.contact-info:hover,
.contact-info:focus {
  color: var(--fokus-color);
}
.contacts-list{
  display: flex;
  margin-left: auto;

}
.contacts-list .item + .item {
  margin-left: 50px;
}


/* HERO */

.hero{
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2F303A;

}
.hero-title {
  margin-top: 0;
  margin-bottom: 30;
  color: var(--button-color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* features */
.features-list {
  display: flex;
}

.features-list .items {
  width: 270px
}

.features-list .items+.items {
  margin-left: 30px;
}

.features-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-paragraf {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* DOING */
.doing{
  padding-top: 0;
}
.container .list{
  display: flex;
}
.container .items{
  margin-right: 30px;
}

.container .items:nth-child(3n){
  margin-right: 0;
}
.doing .title{
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  }



/* section TEAM */
.my-team{
  background-color: #F5F4FA;
}
.container .team-items{
  margin-right: 30px;
}
.container .team-items:nth-child(4n) {
  margin-right: 0;
}

.my-team .title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.my-team .name-team {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.my-team .subtext {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18x;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: #2F303A;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
 
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-addres{
  color: var(--button-color-white);
 

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo{
  color: #2196F3;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}
.logocolor{
  color: var(--button-color-white);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}



/* portfolio.html */
/* portfolio.html */


.portfolio-works .title {
  margin-top: 20px;
  margin-bottom: 0;
  
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-works .subtext {
  margin-top: 4px;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

/* side-nav */
.portfolio-nav{
  display: flex;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 50px;

  /* padding-top: 0;
  padding-bottom: 50px; */
}
.prt-items {
  margin-right: 8px;
}
.prt-items:last-child{
  margin-right: 0;
}


.portfolio-nav .link:hover,
.portfolio-nav .link:focus{
  color: var(--button-color-white);
  background-color: var(--fokus-color);
  
}


.portfolio-nav .link{
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  border-radius: 4px;
  background-color: #F5F4FA;
  border: 1px transparent;
  
}
.portfolio-works .title{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* PORTFOLIO WORKS */
.portfolio-works{
  display: flex;
  flex-wrap: wrap;
}
.portfolio-works .items{
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-works .items:nth-child(3n){
  margin-right: 0;
}
.portfolio-works .items:nth-last-child(-n + 3){
  margin-bottom: 0;
}



/* .side-nav a {
  color: var(--primary-text-color);
  text-decoration: none;
}



.side-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em; */