

.menu-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: #FFFFFF;
    z-index: 999;
    

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}
.menu-toggle {
    position: absolute;
    top:10px;
    right: 15px;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    

    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
}

     

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}
.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}
.toggle-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 48px;
}

.mobile-menu .link {
    display: block;
    font-weight: 500;
    font-size: 35px;
    line-height: calc(47 / 40);
    
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);

    @media screen and (max-width:479px) {
        font-size: 20px;
        text-align: center;
    }
        // margin-bottom: 32px;
    }
    .mobile-list:not(:last-child){
        margin-bottom: 32px;

    }
    .mobile-list .link:hover, 
    .mobile-list .link:focus{
        color:#2196F3;
    }
    .mobile-list .link.current{
        color: #2196F3;
    }

    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width:479px) {
                padding: 0;

            }
    }
    // .contacts-menu{
    //     margin-bottom: 64px;
    // }
.mobile-contacts {
    @media screen and (max-width:479px) {
            padding: 0;
            text-align: center;
        }
}
   
.contacts-tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
        color: #757575;
        &:hover, &:focus{
        color:#2196F3;
        }
    @media screen and (max-width:479px) {
        font-size: 20px;
      
    }

    }
    .contacts-mail {
        text-decoration: none;
        font-weight: 500;
        font-size: 24px;
        line-height: calc(28 / 24);
        letter-spacing: 0.02em;
        color: #757575;
        &:hover,
        &:focus {
        color: #2196F3;
         }
    @media screen and (max-width:479px) {
    font-size: 20px;
    text-align: center;
    }
         }

 
.mobile-social{
    // position: absolute;
    display:flex;
    
 
    // bottom: 0px;
    margin-bottom: 48px;
    @media screen and (max-width:479px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    }
    & .social-link{
        text-decoration: none;
        font-weight: 500;
            font-size: 18px;
            line-height: calc(22 / 18);
            letter-spacing: 0.02em;
            color: #2196F3; 
        @media screen and (max-width:479px){
            margin-bottom: 10px;
        }
         }
    }
  
.mobile-social .mobile-social-list:not(:last-child){
margin: 0 20px 0px 0;
}

// .mobile-social .social-link::after {
//     content: '';
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     transform: rotate(90deg);
// }


