.container {
    margin: 0 auto;
    // min-width: 320px;
    // max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width:480px) {
        width: 480px;}
    @media screen and (min-width:768px) {
        width: 768px;
    @media screen and (min-width:1200px) {
        width: 1200px;}
    }
        
    
        
   

}

.list {
    /* display: inline-block; */
    padding: 0;
    margin: 0;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
}

/* ------------------button----------------- */
.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    color: var(--button-color-white);
    background-color: var(--fokus-color);
    border: 1px transparent;

    min-width: 136px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.section {
    // padding-top: 94px;
    // padding-bottom: 94px;
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
        
    }
}